.fixed-footnotes-container {
  position: fixed;
  bottom: 0;
  background-color: #ecc546;
  border-top: 1px solid black;
  max-width: 500px;
  width: 100%;
}

.fixed-footnotes-container:empty {
  display: none;
}

.fixed-footnotes-note {
  margin: 0;
}
