body {
  margin: 0;
  background-color: #ecc546;
}

h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 200px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

#notes p {
  margin: 0;
}

a, a:visited, a:hover, a:active {
  color: red;
}

#column {
  max-width: 500px;
  margin: 0 auto;
}

#code {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

#buttons {
  padding: 0;
  text-align: center;
}

#buttons li {
  display: inline-block;
  margin: 0 auto;
}

#buttons button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
