.fixed-footnotes-container {
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid grey;
  width: 100%;
  padding: 5px;
}

.fixed-footnotes-container:empty {
  display: none;
}

.fixed-footnotes-note {
  color: black;
  margin: 0;
  padding: 0;
}
