.fixed-footnotes-container {
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid grey;
  width: 100%;
  padding: 5px;
  color: black;
}

.fixed-footnotes-container.fixed-footnotes-empty {
  display: none;
}

.fixed-footnotes-container > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
